.tabla-config {
  border-collapse: collapse;
  margin: 30px auto;
  height: fit-content;
  width: 50%;
}

.tabla-config tr {
  height: 20px;
}

.tabla-config th, .tabla-config td {
  padding: 4px 16px;
}

.tabla-config tr:nth-child(odd) {
  background-color: #ddd;
}
.tabla-config tr:nth-child(even) {
  background-color: #eee;
}

.logout-form {
  margin: 20px auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.logout-boton {
  padding: 5px 20px;
  border: 1px solid #555;
  border-radius: 10px;
  background-color: #ddd;
}

.logout-boton:hover{
  cursor: pointer;
  background-color: #bbb;
}