body {
  font-family: 'Work Sans', sans-serif;
}

h1 {
  text-align: center;
  margin: 2em 0;
}

p {
  text-align: center;
  margin: 0.5em 0;
}

a {
  display: block;
  margin: 2em auto;
  text-decoration: none;
  width: fit-content;
}

.home-button {
  font-family: 'Work Sans', sans-serif;
  padding: 1em 2em;
  border: 1px solid;
  border-radius: 1em;
  display: block;
  margin: 0 auto;
}

.home-button:hover {
  cursor: pointer;
}