.tabla-plazos-fijos {
  border-collapse: collapse;
  margin: 10px auto;
  font-size: 0.85rem;
  height: fit-content;
  width: 90%;
}

.tabla-plazos-fijos tr {
  height: 20px;
}

.tabla-plazos-fijos th, .tabla-plazos-fijos td {
  padding: 4px 16px;
}

.tabla-plazos-fijos td {
  text-align: center;
}

.tabla-plazos-fijos th {
  background-color: #454599;
  border: 1px solid #454599;
  color: #eee;
}

.tabla-plazos-fijos tr:nth-child(odd) {
  background-color: #ddd;
}
.tabla-plazos-fijos tr:nth-child(even) {
  background-color: #eee;
}
.tabla-plazos-fijos tr:hover {
  background-color: #ccc;
}

.tabla-modal {
  margin: 0;
  padding: 0;
  user-select: none;
}

.tabla-modal td:nth-child(1) {
  padding: 4px 20px 4px 0px;
}
.tabla-modal td:nth-child(2) {
  background-color: #dddddd;
  text-align: center;
  padding: 4px 20px;
}

@media screen and ( max-width: 1200px ) {
 
}

@media screen and ( max-width: 1000px ) {
  
}