<h1 ng-show="user.firstName">Hola, {{ user.firstName }}!</h1>

<div style="font-size: 0.75em">

  <p>Generales:</p>
  <ul>
    <li>Realizar backup de los valores almacenados hasta el momento en csv e implementar en nodejs una tarea que inserte dichos
      datos en la BD de mongoDB (con el formato de numero y fecha corregido si hace falta).
    </li>
    <li>Menu desplegable en encabezado para opciones de usuario: Configuraciones y Log-out.</li>
  </ul>

  <p>Pagos:</p>
  <ul>
    <li>Revisar codigo para emprolijar</li>
  </ul>

  <p>Usuarios:</p>
  <ul>
    <li>Agregar opción para eliminar Usuario. Confirmación via password.</li>
    <li>Cuando se elimine el usuario de la BD, eliminar las entradas de <q>pagos</q> correspondientes a dicho usuario.</li>
  </ul>

  <p>VERIFICAR:</p>
  <ul>
    <li>Revisar el formato de la fecha para guardar en DB y obtener y mostrar. (HECHO)</li>
    <li>Hacer modidificaciones para que los valores numéricos se almacenen en numero y no en texto. (HECHO)</li>
  </ul>

</div>