<h1>Hola, {{ user.firstName }}!</h1>

<div style="font-size: 0.75em">

  <p>Generales:</p>
  <ul>
    <li>Implementar Auth Users</li>
    <li>Actualizar información de usuario desde "Configuraciones"</li>
    <li>Realizar backup de los valores almacenados hasta el momento en csv e implementar en nodejs una tarea que inserte dichos
      datos en la BD de mongoDB (con el formato de numero y fecha corregido si hace falta).
    </li>
    <li>(HECHO-verificar) Revisar el formato de la fecha para guardar en DB y obtener y mostrar.</li>
    <li>(HECHO-verificar) Hacer modidificaciones para que los valores numéricos se almacenen en numero y no en texto.</li>
  </ul>

  <p>Pagos:</p>
  <ul>
    <li>Corregir Update (se actualiza la tabla si se modifica en el modal) </li>
  </ul>

</div>