<div ng-show="user.name === null || user.name === undefined">
  <p style="text-align: center;">Por favor, loguearse para ver sus Plazos Fijos.</p>
</div>

<div ng-show="user.name !== null && user.role === 'Basic'">
  <p style="text-align: center;">Este usuario no tiene los privilegios necesarios para ver esta sección.</p>
</div>

<div ng-show="user.name !== null && user.role === 'Admin'">
  <h1 class="titulo">Plazos Fijos</h1>
  
  <div class="contenedor-filtros">
    
    <div class="filtro">
      <label for="selectFiltroTipo">Tipo:</label>
      <select ng-model="filtros.tipo" ng-change="filtrar()" name="selectFiltroTipo" id="selectFiltroTipo">
        <option value=""></option>
        <option value="UVA">UVA</option>
        <option value="Trad.">Trad.</option>
      </select>
    </div>
    <div class="filtro">
      <label for="selectFiltroActivo">Estado:</label>
      <select ng-model="filtros.activo" ng-change="filtrar()" name="selectFiltroActivo" id="selectFiltroActivo">
        <option value=""></option>
        <option ng-Value="true">Activo</option>
        <option ng-Value="false">Finalizado</option>
      </select>
    </div>
    <div class="info-resultados">
      <p style="margin: 0">Resultados: {{ plazosFijosData.length }}</p>
    </div>
    <div class="contenedor-botones">
      <button ng-click="modalAdd(true)" class="boton-add" title="Nuevo Plazo Fijo">+</button>
    </div>
  </div>
  
  <div class="contenedor-tabla">
    <table class="tabla-plazos-fijos">
      <tr>
        <th>Tipo</th>
        <th>Plazo</th>
        <th class="header-sort" ng-click="ordenarPorFechaAlta()" title="Ordenar por Fecha de Alta">Fecha de Alta</th>
        <th class="header-sort" ng-click="ordenarPorFechaAcred()" title="Ordenar por Fecha de Acred.">Fecha de Acredit.</th>
        <th class="header-sort" ng-click="ordenarPorMonto()" title="Ordenar por Monto Inicial">Monto Inicial</th>
        <th>Monto Recibido</th>
        <th class="header-sort" ng-click="ordenarPorIntereses()" title="Ordenar por Intereses">Intereses</th>
        <th>Intereses [%]</th>
        <th>Activo</th>
        <th></th>
      </tr>
      <tr ng-repeat="plazo in plazosFijosData">
        <td>{{ plazo.tipo }}</td>
        <td>{{ plazo.plazo }}</td>
        <td>{{ plazo.fechaAlta }}</td>
        <td>{{ plazo.fechaAcred }}</td>
        <td>{{ ( plazo.qInicial ) ? numberToCurrency(plazo.qInicial) : '' }}</td>
        <td>{{ ( plazo.qRecibido ) ? numberToCurrency(plazo.qRecibido) : '' }}</td>
        <td>{{ ( plazo.intereses ) ? numberToCurrency(plazo.intereses) : '' }}</td>
        <td>{{ ( plazo.qInicial && plazo.intereses ) ? '% ' + calcularPorcentajeInteres( plazo.intereses, plazo.qInicial ) : '' }}</td>
        <td>{{ ( plazo.activo ) ? 'Sí' : 'No' }}</td>
        <td class="celda-botones" style="padding: 0;">
          <button class="boton-tabla boton-delete" ng-click="modalDelete(true, plazo)" title="Eliminar Entrada"><i class="bi bi-trash-fill"></i></button>
          <button class="boton-tabla boton-update" ng-click="modalUpdate(true, plazo)" title="Actualizar Entrada"><i class="bi bi-pencil-fill"></i></button>
        </td>
      </tr>
    </table>
  </div>
  
  <div id="modal-delete-pf" class="modal" ng-show="displayModal.delete">
    <div class="modal-header">
      <p>¿Está seguro que quiere eliminar el siguiente dato?</p>
    </div>
    <!-- Informacion del Plazo a Eliminar -->
    <table class="tabla-modal">
      <tr><td>Tipo</td><td>{{ pfToDelete.tipo }}</td></tr>
      <tr><td>Plazo</td><td>{{ pfToDelete.plazo }}</td></tr>
      <tr><td>Fecha de Alta</td><td>{{ pfToDelete.fechaAlta }}</td></tr>
      <tr><td>Fecha de Acreditación</td><td>{{ pfToDelete.fechaAcred }}</td></tr>
      <tr><td>Monto Inicial</td><td>{{ formatoDinero(pfToDelete.qInicial) }}</td></tr>
      <tr><td>Intereses</td><td>{{ formatoDinero(pfToDelete.intereses) }}</td></tr>
      <tr><td>Activo</td><td>{{ (pfToDelete.activo === 'true') ? 'Sí' : 'No' }}</td></tr>
    </table>
    <!-- Botones -->
    <div>
      <button class="boton" ng-click="modalDelete(false)">No, cancelar</button>
      <button class="boton" ng-click="eliminarPlazoFijo()">Sí, eliminar</button>
    </div>
  </div>

  <div id="modal-update-pf" class="modal" ng-show="displayModal.update">
    <div class="modal-header">
      <p>Editar el siguiente plazo fijo: </p>
    </div>
    <!-- Tipo -->
    <div class="recuadro-input">
      <label for="">Tipo:</label>
      <select class="input-modal-edit" ng-model="pfToUpdate.tipo" name="" id="">
        <option value="UVA">UVA</option>
        <option value="Trad.">Trad.</option>
      </select>
    </div>
    <!-- Plazo -->
    <div class="recuadro-input">
      <label for="">Plazo:</label>
      <input type="text" class="input-modal-edit" ng-model="pfToUpdate.plazo" name="" id="">
    </div>
    <!-- Fecha de Alta -->
    <div class="recuadro-input">
      <label for="">Fecha Alta:</label>
      <input type="text" class="input-modal-edit" ng-model="pfToUpdate.fechaAlta" name="" id="">
    </div>
    <!-- Fecha de Acreditacion -->
    <div class="recuadro-input">
      <label for="">Fecha Acreditación:</label>
      <input type="text" class="input-modal-edit" ng-model="pfToUpdate.fechaAcred" name="" id="">
    </div>
    <!-- Activo -->
    <div class="recuadro-input">
      <label for="">Activo:</label>
      <select class="input-modal-edit" ng-model="pfToUpdate.activo" name="" id="">
        <option value="false">No</option>
        <option value="true">Sí</option>
      </select>
    </div>
    <!-- Monto Inicial -->
    <div class="recuadro-input">
      <label for="">Monto Inicial:</label>
      <input type="text" class="input-modal-edit" ng-model="pfToUpdate.qInicial" name="" id="">
    </div>
    <!-- Monto Recibido -->
    <div class="recuadro-input">
      <label for="">Monto Recibido:</label>
      <input type="text" class="input-modal-edit" ng-model="pfToUpdate.qRecibido" name="" id="">
    </div>
    <!-- Intereses -->
    <div class="recuadro-input">
      <label for="">Intereses:</label>
      <input type="text" class="input-modal-edit" ng-model="pfToUpdate.intereses" name="" id="">
    </div>
    <!-- Botones -->
    <div>
      <button class="boton" ng-click="modalUpdate(false)">Cancelar</button>
      <button class="boton" ng-click="actualizarPlazoFijo()">Actualizar</button>
    </div>
  </div>

  <div id="modal-add-pf" class="modal" ng-show="displayModal.add">
    <div class="modal-header">
      <p>Complete los campos para el nuevo plazo fijo:</p>
    </div>
    <!-- Tipo -->
    <div class="recuadro-input">
      <label for="nuevo-pf-tipo">Tipo:</label>
      <select class="input-modal-edit" ng-model="nuevoPF.tipo" name="nuevo-pf-tipo" id="nuevo-pf-tipo">
        <option value=""></option>
        <option value="Trad.">Trad.</option>
        <option value="UVA">UVA</option>
      </select>
    </div>
    <!-- Plazo -->
    <div class="recuadro-input">
      <label for="nuevo-pf-plazo">Plazo:</label>
      <input type="number" class="input-modal-edit" ng-model="nuevoPF.plazo" name="nuevo-pf-plazo" id="nuevo-pf-plazo">
    </div>
    <!-- Fecha de Alta -->
    <div class="recuadro-input">
      <label for="nuevo-pf-fecha-alta">Fecha de Alta:</label>
      <input type="date" class="input-modal-edit" ng-model="nuevoPF.fechaAlta" name="nuevo-pf-fecha-alta" id="nuevo-pf-fecha-alta">
    </div>
    <!-- Monto Inicial -->
    <div class="recuadro-input">
      <label for="nuevo-pf-qinicial">Monto Inicial:</label>
      <input type="number" class="input-modal-edit" ng-model="nuevoPF.qInicial" name="nuevo-pf-qinicial" id="nuevo-pf-qinicial" step="0.01" min="0">
    </div>
    <!-- Fecha de Acreditacion -->
    <div class="recuadro-input">
      <label for="nuevo-pf-fecha-acred">Fecha de Acred.:</label>
      <input type="date" class="input-modal-edit" ng-model="nuevoPF.fechaAcred" name="nuevo-pf-fecha-acred" id="nuevo-pf-fecha-acred">
    </div>
    <!-- Monto Recibido -->
    <div class="recuadro-input">
      <label for="nuevo-pf-qrecibido">Monto Recibido:</label>
      <input type="number" class="input-modal-edit" ng-model="nuevoPF.qRecibido" name="nuevo-pf-qrecibido" id="nuevo-pf-qrecibido">
    </div>
    <!-- Intereses -->
    <div class="recuadro-input">
      <label for="nuevo-pf-intereses">Intereses:</label>
      <input type="number" class="input-modal-edit" ng-model="nuevoPF.intereses" name="nuevo-pf-intereses" id="nuevo-pf-intereses">
    </div>
    <!-- Activo -->
    <div class="recuadro-input">
      <label for="nuevo-pf-activo">Activo:</label>
      <select class="input-modal-edit" ng-model="nuevoPF.activo" name="nuevo-pf-activo" id="nuevo-pf-activo">
        <option value=""></option>
        <option value="false">No</option>
        <option value="true">Sí</option>
      </select>
    </div>
    <!-- Botones -->
    <div>
      <button class="boton" ng-click="modalAdd(false)">Cancelar</button>
      <button class="boton" ng-click="limpiarCampos()">Borrar</button>
      <button class="boton" ng-click="guardarPlazoFijo()">Guardar</button>
    </div>
    
  </div>
  
</div>